<!-- ###TEMPLATE_RSS2### begin -->
###RSS_DECLARATION###
	<channel>
	<!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link>
		<description>###SITE_DESCRIPTION###</description>
		<!-- ###IMAGE### begin -->
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMAGE_PATH###</url>
			<link>###SITE_LINK###</link>
			###IMAGE_WITDH###
			###IMAGE_HEIGHT###
			###IMAGE_DESCRIPTION###
		</image>
		<!-- ###IMAGE### end -->
		###LANGUAGE###
		###COPYRIGHT###
		###MANAGINGEDITOR###
		###WEBMASTER###
		###PUBDATE###
		###LASTBUILDDATE###
		###CATEGORY###
		###GENERATOR###
		###DOCS###
		###CLOUD###
		###TTL###
		###RATING###
		<!-- ###TEXTINPUT### begin -->
		<textInput>
			<title>###TEXTINPUT_TITLE###</title>
			<description>###TEXTINPUT_DESCRIPTION###</description>
			<name>###TEXTINPUT_NAME###</name>
			<link>###TEXTINPUT_LINK###</link>
		</textInput>
		<!-- ###TEXTINPUT### end -->
		###SKIPHOURS###
		###SKIPDAYS###
	<!-- ###HEADER### end -->
	<!-- ###CONTENT### begin -->
		<!-- ###DATASET### begin -->
		<item>
			<title>###DATASET_TITLE###</title>
			<link>###DATASET_LINK###</link>
			<description>###DATASET_DESCRIPTION###</description>
			###DATASET_AUTHOR###
			###DATASET_CATEGORY###
			###DATASET_COMMENTS###
			###DATASET_ENCLOSURE###
			###DATASET_GUID###
			###DATASET_PUBDATE###
			###DATASET_SOURCE###
		</item>
		<!-- ###DATASET### end -->
	<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS2### end -->
