/*
 * $Id$ 
 */

#tx_icsapikr_module1 .menu{
	float:left;
}

#tx_icsapikr_module1 .content{
	float:left;
}

#tx_icsapikr_module1 .cmdxml{
	clear: both;
}

#tx_icsapikr_module1 .description{
	vertical-align: top;
}

#tx_icsapikr_module1 .menu .image{
	float: right;
	border: none;
}

#tx_icsapikr_module1 .menu p{
	clear: both;
}

#tx_icsapikr_module1 .values_content,
#tx_icsapikr_module1 .parameters_content{
	padding-left: 1em;
}


